<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/app.min.css">
    <link rel="stylesheet" href="../static/css/chatStyles.css">
    <meta charset="utf-8"/>
    <title>Spence Tac Toe</title>

    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu" data-dropdown-menu>
            <li class="menu-text"><a href="/">STT</a></li>
            <li class="menu-text"><a href="/play/">Play</a></li>
            <li class="menu-text"><a href="/chat/">Chat</a></li>
            <li class="menu-text"><a href="/leaderboards/">Leaderboards</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
              <li class="menu-text"><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </div>
</head>
<body>
    <h3 class="playTitle">Enter a chat room</h3>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" class="homeButton" value="Join">
    <h3> </h3>
    <br> </br>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>