
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homeStyles.css' %}">
{% endblock %}

{% block content %}
<div id="particles-js"></div>
<h3 class="nameTitle">Spence - Tac - Toe</h3>
<h3 class="nameSubtitle">Tic Tac Toe Mania!</h3>
{% if request.user.is_authenticated %}
<a href="/play/"><button class="homeButton">Play </button></a>
{% else %}
<a href="/login/"><button class="homeButton">Login</button></a>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
