<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/app.min.css">
    <link rel="stylesheet" href="../static/css/roomStyles.css">
    <meta charset="utf-8"/>
    <title>Spence Tac Toe</title>
    
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu" data-dropdown-menu>
            <li class="menu-text"><a href="/">STT</a></li>
            <li class="menu-text"><a href="/play/">Play</a></li>
            <li class="menu-text"><a href="/chat/">Chat</a></li>
            <li class="menu-text"><a href="/leaderboards/">Leaderboards</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
              <li class="menu-text"><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </div>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <h3> </h3>
    
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" class="homeButton" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>